@import "adaptive.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Rubik:wght@300..900&display=swap");
:root {
  font-family: "Manrope", sans-serif;
  color: #f7ffda;
}
:root ul, :root ol {
  list-style: none;
}
:root a {
  text-decoration: none;
  display: inline-block;
}
:root::selection {
  background-color: #ad87d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #1c1c1c;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2s steps(30, end) forwards, blink-caret 0.95s step-end;
}

@keyframes typing {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 1.5rem 0;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
}
header .container #initials {
  font-size: 2.5rem;
  color: #cade1e;
  letter-spacing: 4px;
  font-weight: 700;
}
header .container nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
}
header .container nav ul li a {
  color: #d6d6d6;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 0.25rem;
  transition: 0.1s;
}
header .container nav ul li a:hover {
  color: #cade1e;
  transform: scale(1.02);
}

main #about_me {
  height: calc(100vh - 103.25px);
  position: relative;
}
main #about_me .container {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #about_me .container .main-info__info h1 {
  font-weight: 500;
  font-size: 4rem;
}
main #about_me .container .main-info__info p {
  margin-top: 1rem;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}
main #about_me .container .main-info__image {
  max-width: 240px;
}
main #about_me .container .main-info__image img {
  width: 100%;
  display: block;
  border-radius: 16%;
}
main #about_me .explore-link .explore-block {
  position: absolute;
  bottom: 3rem;
  right: calc(50% - 72.4px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #about_me .explore-link .explore-block p {
  color: #d6d6d6;
}
main #about_me .explore-link .explore-block img {
  width: 4rem;
  height: 2rem;
  display: block;
  text-align: center;
  color: #d6d6d6;
  transition: 0.5s;
}
main #about_me .explore-link .explore-block img:hover {
  transform: translateY(12px);
}
main #projects {
  padding-top: 7.5rem;
}
main #projects .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
main #projects .container .project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
  min-height: 320px;
  max-width: 800px;
  border: 1px solid #d6d6d6;
  padding: 32px 16px 20px;
  border-radius: 12px;
  background-color: #000;
}
main #projects .container .project-item .project-item__image {
  align-self: center;
  max-width: 200px;
}
main #projects .container .project-item .project-item__image img {
  width: 100%;
  display: block;
}
main #projects .container .project-item .project-item__info {
  max-width: 560px;
}
main #projects .container .project-item .project-item__info h4 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 12px;
}
main #projects .container .project-item .project-item__info details {
  margin-top: 2rem;
}
main #projects .container .project-item .project-item__info details summary {
  cursor: pointer;
}
main #skills {
  padding: 8rem 0 4rem;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
main #skills .slider {
  overflow: hidden;
  width: 100%;
}
main #skills .slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3000px;
  align-items: center;
  gap: 2rem;
}
main #skills .slider .slide {
  max-width: 200px;
}
main #skills .slider .slide img {
  width: 100%;
  display: block;
}

/*# sourceMappingURL=style.css.map */
